SECRET_KEY=
ALLOWED_HOSTS=    #should be list of strings => ALLOWED_HOSTS=localhost,*
DEBUG=            #should be True or False  =>  DEBUG=True or DEBUG=False
POSTGRES_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_QUERYSTRING_AUTH=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
